<h1 class="mt-3">Carrito de compras</h1>

<div *ngIf="!dataSource || !dataSource.length">
  No hay nada por aquí. Busca algún título.
</div>
<div *ngIf="dataSource && dataSource.length">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Precio </th>
      <td mat-cell *matCellDef="let element"> {{element.price * element.shoppingCartBook.quantity}} </td>
    </ng-container>
  
    <ng-container matColumnDef="book">
      <th mat-header-cell *matHeaderCellDef> Libro </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
  
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef> Cantidad </th>
      <td mat-cell *matCellDef="let element">
          {{element.shoppingCartBook.quantity}}
          <button class="increase-quantity-button" mat-button (click)="increaseQuantity(element)">+</button>
          <button mat-button (click)="decreaseQuantity(element)">-</button>
      </td>
    </ng-container>
  

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="row mt-5">
    <div class="col-6">
      <div class="total-indicator">
        Total: ${{total}}
      </div>
    </div>
    <div class="col-6">
      <button mat-raised-button class="float-right" color="primary" (click)="goPay()">Proceder al pago</button>
    </div>
  </div>
</div>

