<h1>Pagar</h1>
<ul>
  <li *ngFor="let element of toPayElements">{{element.title}} x {{element.shoppingCartBook.quantity}}</li>
</ul>

<form [formGroup]="paymentForm">
  <div class="row">
    <div class="col-md-6">
      <mat-form-field class="w-100">
        <mat-label>Selecciona método de pago</mat-label>
        <mat-select formControlName="shippingMehtod">
          <mat-option value="DHL">DHL</mat-option>
          <mat-option value="FEDEX">FEDEX</mat-option>
          <mat-option value="UPS">UPS</mat-option>
          <mat-option value="ESTAFETA">ESTAFETA</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field class="w-100">
        <mat-label>Selecciona método de pago</mat-label>
        <mat-select formControlName="shippingSpeed">
          <mat-option value="Fast">1 día</mat-option>
          <mat-option value="Normal">2 día</mat-option>
          <mat-option value="Slow">4 día</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  
 
</form>

<div>
  Compra: ${{total}}
</div>

<hr>

<div>
  Envío: ${{shipmentCost}}
</div>
<hr>

Total: ${{shipmentCost + total}}



<div class="mt-5">
  <button mat-raised-button color="primary" (click)="pay()">Pagar con tarjeta de credito</button>
</div>



