<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand"[routerLink]="['/main']">Librería bRandom :v</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/my-orders']">Mis Pedidos <span class="sr-only">(current)</span></a>
        </li>
        <li *ngIf="isAdmin">
          <a class="nav-link" [routerLink]="['/orders']">Pedidos <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <div class="my-2 my-lg-0">
        <button class="btn btn-outline-success my-2 my-sm-0" (click)="goToShoppingCart()" type="submit">Ir a carrito</button>
      </div>
    </div>
  </div>
</nav>

