<div class="container">
  <h1>Bienvenido</h1>

  <form (ngSubmit)="send()" [formGroup]="loginForm">
    <div class="row">
      <div class="col-md-6 col-12">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Input</mat-label>
          <input matInput type="text" formControlName="email">
        </mat-form-field>
      </div>
      <div class="col-md-6 col-12">
        <mat-form-field class="w-100">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" formControlName="password">
        </mat-form-field>
      </div>
    </div>
    <button type="submit" mat-raised-button color="primary">Ingresar</button>
  </form>
</div>
