<h1 class="mt-3">Ordenes</h1>

<div *ngIf="!orders || !orders.length">
  No hay nada por aquí. Compra algún título.
</div>
<div *ngIf="orders && orders.length">
  <table mat-table [dataSource]="orders" class="mat-elevation-z8">

    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef> Usuario </th>
      <td mat-cell *matCellDef="let element"> {{element.user.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef> Total del pedido </th>
      <td mat-cell *matCellDef="let element"> {{getOrderTotal(element)}} </td>
    </ng-container>
  
    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef> Detalles </th>
      <td mat-cell *matCellDef="let element">
          {{getDetails(element)}}
      </td>
    </ng-container>
  

    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
  </table>
</div>

