.book-list {
  
}

.book-tile {
  font-weight: bold;
}

.book-author {
  font-style: italic;
}

.book-price {
  color: #662719;
  font-weight: bold;
}

.book-list-elem {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 10px;
}


