<div class="row">
  <div class="col-12">
    <div class="book-list">
      <div class="book-list-elem" *ngFor="let book of books">
        <div class="row">
          <div class="col-md-8 col-12">
            <div class="book-tile">{{book.title}}</div>
            <div class="book-author">{{book.author}}</div>
            <div class="book-price">${{book.price}}</div>
          </div>
          <div class="col-md-4 col-12">
            <button mat-raised-button color="primary" (click)="addToShoppingCart(book)">Agregar al carrito</button>
          </div>
        </div>
      </div>
    </div>
    <mat-paginator [length]="elemLength"
              [pageSize]="pageSize"
              [pageSizeOptions]="[1, 30, 50, 100]"
              (page)="pageChanged($event)">
    </mat-paginator>
  </div>
</div>
